*{
    padding: 0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;

}
body{
    background-image: url("/landingpageVuonUom/nasa-Q1p7bh3SHj8-unsplash\ \(1\).jpg" );
}
.header{
    height: 600px;
    width: 100%;
}
.head-top{
    width: 100%;
    height: 30%;
    display: flex;
}
.logo{
    width: 50%;
    height: 100%;
    /* background-color: aquamarine; */

}
.tabbar{
    width: 50%;
    height: 100%;
    margin-top: 20px;
    /* background-color: #7db51c; */
    display: flex;
}
ul{
    list-style: none;
}
.minmenu{
    width: 20%;
    height: 100%;
    /* background-color:cornflowerblue; */
    text-align: center;
    display: flex;
    /* box-sizing: border-box; */
}
.minmenu li{
    padding: 0px 20px;
}
.minmenu a{
    
    /* text-align: center; */
    /* border-radius: 5px; */
    margin-top: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: relative;
    /* background-color: #090909; */
    /* background-color: none; */
    /* border: solid #575853; */
    cursor: pointer;
    /* text-transform: uppercase; */
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    color: rgb(204, 193, 193);
    display: block;
    position: relative;
}
.minmenu a:hover {
    top: 2px;
    cursor: pointer;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.minmenu a::after{
    content: "";
    height: 4px;
    width: 0px;
    background-color: rgb(204, 193, 193);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}
.minmenu a:hover::after{
    width: 50%;
    transform: translateX(100%);
}
.head-bot{
    width: 60%;
    height: 70%;
    text-align: center;
    margin-left: 20%;
    /* background-color: rgb(109, 108, 108); */
    /* opacity: 15%; */
    /* background: rgba(97, 97, 101, 0.25); */
    border-radius:10px;
    
}
.text-head-bot{
    margin-top: 50px;
    height:50%;
}
.text-head-bot h2 {
    padding-top: 80px;
    color:rgb(214, 232, 215);
    font-size: 40px;
}
.text-head-bot h1{
    /* margin-bottom: 50px; */
    color: rgb(64, 119, 67);
    font-size: 80px;
}
.box-joinin{
    width: 100%;
    height:50% ;
    display: flex;
    /* background: rgba(97, 97, 101, 0.25);
    border-radius:10px; */
}
.formtext{
    margin: 100px 10px 50px 150px;
    width: 400px;
    height: 50px;
    background-color: rgb(221, 230, 221);
    border-radius: 5px;
    border: solid 2px rgb(215, 206, 206);
}
.formtext:hover{
    background-color:rgb(116, 165, 118) ;
}
.submit {
    margin: 100px 5px 50px 5px ;
    width: 200px;
    height: 50px;
    background-color: rgb(64, 119, 67);
    border-radius: 5px;
    border: solid 2px rgb(64, 119, 67);

}
.submit:hover{
    background-color:rgb(116, 165, 118) ;
    cursor: pointer;
    /* font-size: large; */
}
.main{
    width: 100%;
    height: 1000px;
    /* background-color: white; */
}
.head-main{
    width: 80%;
    height: 500px;
    background: rgba(133, 133, 153, 0.25);
    border-radius:10px;
    display: flex;
    margin-left:155px;
    margin-top:50px;

}
.head-main-left{
    width: 50%;
    height: 100%;
    /* background-color: rgb(77, 92, 93); */
    text-align:left;
}
.head-main-left p{
    color: rgb(251, 248, 248);
    margin: 20px;
    font-size: 20px;
}
.head-main-right{
    width: 50%;
    height: 100%;
    /* background-color: crimson; */
}
.navbar{
    width: 100%;
    height: 150px;
    background-color:darkgoldenrod;
    display: flex;
}
.menu-navbar{
    width: 20%;
    height: 100%;
    background-color: darkolivegreen;
}
.main-post{
    width: 100%;
    height: 550px;
    background-color: rgb(206, 160, 90);
    display: flex;
}
.main-post-left{
    width: 70%;
    height: 100%;
    background-color: cyan;
}
.main-post-right{
    width: 30%;
    height: 100%;
    background-color: brown;
}
.bot-main{
    width: 100%;
    height:120px ;
    background-color: chartreuse;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: pink;
}